body {
	margin: 0px;
	padding: 0px;
	font-size: 18pt;
}

.red {
    color: #FFFFFF;
}

.small {
    font-size: 80%
}

.small-2 {
    font-size: 70%
}

.big {
    font-size: 120%
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.green_borders  {
    border-left: 5px solid #002200;
    border-right: 5px solid #002200;
}

.bg-lightgreen {
	background-color: #daeed2;
}

.bg-darkgreen {
	background-color: #002200;
}
