{% extends '_template.html' %}
{% load i18n %}
{% load mytags %}

{%block title%}
{{ q }} carbon footprint @ GreenOrDie.org
{%endblock%}

{%block body%}

   <h1>{{ q }} - {% translate "carbon footprint" %}</h1>

    {% include 'gems/searchform.html' %}

    <h3 class="mt-5">{% translate "COMPARISON" %}</h3>

    <table>
        <tr>
            <td class="align-top">{% include "gems/result.html" with object=comparison.0 %}</td>
            <td>&nbsp;</td>
            <td class="align-top">{% include "gems/result.html" with object=comparison.1 %}</td>
        </tr>
    </table>

    {% if comparison.0.footprint.per != comparison.1.footprint.per %}
        <div class="small mt-3 italic">
            Note: Results are not of the same unit ({{comparison.0.footprint.per}} vs {{comparison.1.footprint.per}}),
            so they are not directly comparable.
        </div>
    {% endif %}

    {% include "gems/sharer.html" %}
    {% include "gems/support.html" %}
    {% include "gems/global_numbers.html" %}

{%endblock%}
