{% extends '_template.html' %}
{% load i18n %}
{% load mytags %}

{%block title%}
{{ q }} carbon footprint @ GreenOrDie.org
{%endblock%}

{%block body%}

  <h1 >Carbon footprint for {{ distance_kms }} kilometers ({{ distance_miles }} miles):</h1>

  {% include 'gems/searchform.html' %}

  <p class="mt-3">Carbon footprint for that distance depends on vehicle used.<br>
    Here is the comparison for most common vehicles:
  </p>

  <table class="table table-striped mt-4 mb-5">
    <tr>
      <th>Vehicle</th>
      <th>Total</th>
      <th>(per km)</th>
      <th>(per mile)</th>
    </tr>
    {% for f in footprints %}
      <tr>
        <td>
          {% if f.query %}<a href="/q/{{f.query}}">{% endif %}
          {{ f.vehicle }}
          {% if f.query %}</a>{% endif %}
        </td>
        <td>{{ f.total|floatformat:1 }} kg CO<sub>2</sub></td>
        <td>{{ f.per_km|floatformat:2 }}</td>
        <td>{{ f.per_mile|floatformat:2 }}</td>
      </tr>
    {% endfor %}
  </table>

  {% include "gems/sharer.html" %}
  {% include "gems/support.html" %}
  {% include "gems/global_numbers.html" %}

{%endblock%}
