{% extends '_template.html' %}
{% load i18n %}
{% load mytags %}

{%block title%}
{{ q }} carbon footprint @ GreenOrDie.org
{%endblock%}

{%block body%}

   <h1>{{ q }} - {% translate "carbon footprint" %}</h1>

    {% include 'gems/searchform.html' %}

    <p class="my-4">
        No results for '{{ q }}'
    </p>

    {% if possible_aliases %}
        <div class="border mt-4 p-3">
            <h5 class="">{% include "gems/help.html" %} We have no data for '{{ q }}'.</h5>
            <p class="small">Please take a look if '{{ q }}' can be an alias for one of entities listed below.<br>
               If yes, vote for exact match by corresponding button:
            </p>
            <p>
                {% for x in possible_aliases %}
                    <form action="{% url 'vote-alias' %}" method="post" onsubmit="return confirm('Are you sure that {{ q }} means {{ x }}?');">
                        {% csrf_token %}
                        <input type="hidden" name="query" value="{{ q }}"/>
                        <input type="hidden" name="entity" value="{{ x.pk }}"/>
                        <button type="submit" class="btn btn-success py-0">{{ x }}</button>
                    </form>
                {% endfor %}
            </p>
        </div>
    {% else %}

        <div class="border mt-4 p-3">
            <h5 class="">{% include "gems/help.html" %} We have no data for '{{ q }}'. Should we list CO<sub>2</sub> emissions for it?</h5>
            <p>
                <form action="{% url 'vote-entity' %}" method="post" onsubmit="return confirm('Are you sure?');">
                    {% csrf_token %}
                    <input type="hidden" name="query" value="{{ q }}"/>
                    <button type="submit" name="answer", value="1" class="btn btn-success py-2 px-4">Yes</button>
                    <button type="submit" name="answer", value="0" class="btn btn-success py-2 px-4">No</button>
                </form>
            </p>
        </div>

    {% endif %}

    {% include "gems/global_numbers.html" %}

{%endblock%}
