{% extends '_template.html' %}
{% load i18n %}
{% load mytags %}

{%block title%}
{{ q }} carbon footprint @ GreenOrDie.org
{%endblock%}

{%block body%}

   <h1>{{ q }} - {% translate "carbon footprint" %}</h1>

    {% include 'gems/searchform.html' %}

    {% for r in results %}
        {% include "gems/result.html" with object=r %}

        <div class="border rounded mt-3 small p-1">
            {% include "gems/help.html" %} <a href="{% url 'footprint-add' entity_pk=r.id %}"> Add carbon footprint for {{r.name}}</a><br>
            (use this if you have better or more accurate data than listed above)
        </div>

    {% endfor %}

    {% include "gems/sharer.html" %}
    {% include "gems/support.html" %}
    {% include "gems/global_numbers.html" %}

{%endblock%}
