{% load i18n %}

<form action="{% url action pk=object.pk %}" method="post" onsubmit="return confirm('{% translate "Are you sure?" %}');">
  {% csrf_token %}
  <button type="submit" class="fas fa-trash btn text-danger"></button>
</form>
