{% load i18n %}
{% load mytags %}

<div class="border small p-2 bg-light mb-3 mt-5">
    <h3>Global CO<sub>2</sub> numbers</h3>
    <p>
        What amount of carbon dioxide is still OK?<br>
        Roughly, people in developed countries emit more than 20 kgs per day. This number includes everything: food consumption,
        heating, transportation and 'common issues' - for example CO<sub>2</sub> emissions from road constructions or military.<br>
        Search for name of your country to see how it stands.
    </p>
    <p>
        But the long term survival limit is way lower: about 3.5 kgs per person per day.<br>
        What is 'long term survival limit'? It is a amount of carbon dioxide, that the biosphere is able to handle without
        unwanted effects, such as: global warming, ocean acidification, glacier melting and so on.
    </p>
</div>
