{% load i18n %}
    <div class="pagination mb-3 mt-3">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; {% translate "first" %}</a>
                <a href="?page={{ page_obj.previous_page_number }}">{% translate "previous" %}</a>
            {% endif %}

            <span class="current">
                {% blocktranslate with pagenr=page_obj.number pagecount=page_obj.paginator.num_pages %}Page {{ pagenr }} of {{ pagecount }}{% endblocktranslate %}
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% translate "next" %}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">{% translate "last" %} &raquo;</a>
            {% endif %}
        </span>
    </div>
