{% load i18n %}
{% load mytags %}

    <div class="mt-2">
        <div class="border border-success p-2 mt-4 rounded">
            <div class="p-0 bold bg-light rounded text-dark border-left border-success px-3">
                {{ object.name }}
            </div>
            <div class="p-0 italic">{{ object.desc | hide_none }}</div>

            {% for footprint in object.footprints.all %}

                <div class="border rounded my-2">
                    <div class="px-3 py-1">
                        {% if footprint.amount %}
                            {{ footprint.amount | round_human}}
                        {% else %}
                            {% if footprint.min == footprint.max %}
                                {{ footprint.min | round_human }}
                            {% else %}
                                {{ footprint.min | round_human }} - {{ footprint.max | round_human }}
                                (average: {{ footprint.average | round_human}})
                            {% endif %}
                        {% endif %}
                        kg CO<sub>2</sub> per 1 {{ footprint.per }}
                    </div>

                    {% if footprint.note %}
                        <div class="p-0 pl-3 italic small">{{ footprint.note }}</div>
                    {% endif %}

                    <div class="d-flex small pl-3 italic">
                        <div class="mr-2">Source:</div>
                        {% if footprint.source|is_url %}
                            <a href="{{ footprint.source }}" target="_blank">{{ footprint.source }}</a>
                        {% else %}
                            {{ footprint.source }}
                        {% endif %}
                    </div>

                    {% if footprint.user %}
                        <div class="p-0 pr-3 small text-right text-secondary">Added by {{ footprint.user.last_name }}</div>
                    {% endif %}

                    <!-- votes for footprint -->
                    <div class="d-flex px-0 mb-2 mr-2 justify-content-end ">
                        {% if footprint.votes_score %}
                            <div class="mr-4 small">{{ footprint.votes_score }}%</div>
                        {% endif %}
                        <form action="{% url 'vote-footprint' %}" method="post" class="mr-1">
                          {% csrf_token %}
                          <input type="hidden" name="footprint" value="{{ footprint.pk }}"/>
                          <input type="hidden" name="positive" value="1"/>
                          <button type="submit" class="fas fa-thumbs-up btn big text-secondary p-0"></button>
                        </form>
                        <form action="{% url 'vote-footprint' %}" method="post" class="mr-1">
                          {% csrf_token %}
                          <input type="hidden" name="footprint" value="{{ footprint.pk }}"/>
                          <input type="hidden" name="positive" value="0"/>
                          <button type="submit" class="fas fa-thumbs-down big btn text-secondary p-0"></button>
                        </form>
                    </div>

                </div>

            {% endfor %}

            {% if not object.footprints.count %}
                <div class="bg-warning p-2 my-3 rounded">
                '{{ object.name }}' is already listed on GreenOrDie.org, but we do not yet have a
                reliable carbon footprint data. If you know some, add it using a link below.
                </div>
            {% endif %}

        </div>
    </div>
