{% load i18n %}

<form action="/search" method="post">
    {% csrf_token %}
    <div class="p-md-0 py-2 px-md-2 px-0">
        <div class="d-flex flex-wrap mt-md-5 mt-3">
            <div class="mr-2">Find carbon footprint:</div>
            <input type="text" name="search" placeholder="coffee, china vs usa, 40 km ..." class="mr-1 mb-md-0 mb-2 pb-1">
            <button class="fa-solid fa-magnifying-glass btn-success rounded px-5 px-md-4 py-md-0 py-3"></button>
        </div>
    </div>
</form>

