{% load i18n %}
{% load mytags %}

            <h3 class="mt-3">Share this page:</h3>

            <div class="d-flex pl-0 mb-4">
                <div class="mr-2">
                    <a class="fab fa-facebook-square big-2 btn btn-success px-4 py-2 text-white" href="https://www.facebook.com/sharer.php?u=https://greenordie.org/q/{{ permalink }}"></a>
                </div>
                <div class="mr-2">
                    <a class="fab fa-twitter-square big-2 btn btn-success px-4 py-2 text-white" href="http://www.twitter.com/share?url=https://greenordie.org/q/{{ permalink }}"></a>
                </div>
                Permalink:&nbsp;  <a href="https://greenordie.org/q/{{ permalink }}">https://greenordie.org/q/{{ permalink }}</a>
            </div>
