{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{%block title%}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="robots" content="index,follow" />
    <meta name="description" content="{{ page.title }}"/>

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <meta name="twitter:image" content="https://greenordie.org/static/img/twitter.png">

    <!-- IMP this does not work -->
    <meta property="og:title"           content="{{ page.title }}" />
    <meta property="og:description"     content="{{ page.title }}" />
    <meta property="og:type"            content="article" />

    <script src="{% static 'jquery/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.css' %}">

    <script src="{% static 'mithril/mithril.min.js' %}"></script>  <!-- original at https://unpkg.com/mithril@2.2.2/mithril.min.js -->
    <script src="{% static 'main.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" media="screen" />

    <meta name="google-adsense-account" content="ca-pub-1376685449202798">
    <meta name="google-site-verification" content="QIRjR9UzuWkjpPWWjgBnxPjmns742br3W74MVnh19sM" />

</head>

<body class="bg-lightgreen">

<div class="container mt-0 vh-100">

        <div class="bg-white green_borders">

                {% if user.is_authenticated %}
                <div class="bg-secondary text-white p-2 mb-0 small d-flex">
                    <div>
                    User {{ user }} :
                    <a href="/data" class="text-white">stats</a> |
                    <a href="/data/sort" class="text-white">sort</a> |
                    <a href="/data/aliases" class="text-white">aliases</a> |
                    <a href="/data/nodata" class="text-white">no data</a> |
                    <a href="/data/tags" class="text-white">tags</a> |
                    <a href="/data/footprints" class="text-white">footprints</a> |
                    <a href="/data/footprint-votes" class="text-white">fp votes</a> |
                    <a href="/data/users" class="text-white">users</a> |
                    </div>
                    <div class="ml-1">
                      <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="{% translate 'Logout' %}" class="py-0">
                      </form>
                    </div>
                </div>
                {% endif %}

                <div class="px-md-4 px-2 pt-5 pb-4 mb-3 bg-darkgreen" style="background-image: url('/static/img/background.jpg');  background-size: cover;">
                    <br>
                    <div class="d-flex mt-5 mb-2 ml-0">
                        <div>
                            <a href="/" class="text-white"><img src="/static/img/logo.png" class="rounded rounded-3 mr-3"/></a>
                        </div>
                        <div>
                            <h1 class="text-white mb-0 p-0">
                                <a href="/" class="text-white">GreenOrDie.org</a>
                            </h1>
                            <div class="small-2 text-white ml-1 italic">Fight climate change with data</div>
                        </div>
                    </div>
                </div>

                <div class="px-md-5 px-2 py-md-2 py-0">

                    {%block messages %}
                        {% if messages %}
                        <div class="px-1 my-2">
                            {% for message in messages %}
                                {% if "error" in message.tags %}
                                    <div class="mx-0 mt-0 px-2 py-1 border rounded bg-danger text-white">{{message}}</div>
                                {% elif "info" in message.tags %}
                                    <div class="mx-0 mt-0 px-2 py-1 border rounded bg-success">{{message}}</div>
                                {% else %}
                                    <div class="mx-0 mt-0 px-2 py-1 border rounded bg-warning">{{message}}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    {%endblock%}

                    <div class="p-0 pb-2 mb-4 mx-3 h-100">
                        {%block body%}
                        {%endblock%}
                    </div>

                </div>

                <div class="mt-0 bg-dark text-white small px-2 mx-0 pb-4 row border-top pt-4">
                    <div class="small text-left col-4 ">
                          <div class="bold">Contribute:</div>
                          <div class="pl-0 pt-2">
                            <a class="text-white" href="/help">How to help</a><br>
                            <a class="text-white" href="https://gitlab.com/Jarmil/greenordie-data">Gitlab project</a><br>
                            <a class="text-white" href="https://patreon.com/Greenordie">Support GreenOrDie on Patreon</a><br>

                          </div>
                    </div>
                    <div class="small text-center col-4">
                          - <a class="text-white" href="https://greenordie.org">GreenOrDie.org</a> -
                    </div>
                    <div class="small text-right col-4">
                        <div class="bold">About:</div>
                        Author: <a class="text-white" href="https://jarmil.com/programmer">Jarmil Halamíček</a>
                    </div>
                </div>
        </div>

</div>

</body>
</html>
