{% extends '_template.html' %}
{% load i18n %}

{%block title%}
Add footprint
{%endblock%}

{%block body%}

    <h2>Add carbon footprint for {{ entity }}</h2>

    {% if entity.footprints.count %}
        <h5>Existing footprints:</h5>
        <ul>
        {% for x in entity.footprints.all %}
            <li>{{ x.min }} - {{ x.max }} kg CO<sup>2</sup> per {{ x.per }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h5>How to contribute</h5>
    <p class="small">
        Fill in following form. Try to be as precise as possible.
        Every footprint should cite some online source, e.g. wikipedia page or (better) primary source, like scientific study.
        Add some notes in description -  for example, vegetables can have different footprints in summer and winter, so describe it here.
    </p>

    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        <table class="table table-striped">
            <tr>
                <td>Footprint:</td>
                <td>
                    <div class="text-danger">{{ form.amount.errors }}{{ form.per.errors }}</div>
                    {{ form.amount }} kg CO<sup>2</sup> per {{ form.per }}
                </td>
            </tr>
            <tr>
                <td>Source:</td>
                <td><div class="text-danger">{{ form.source.errors }}</div>
                    {{ form.source }} <span class="small italic">Link to the source of data.</span>
                </td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><div class="text-danger">{{ form.note.errors }}</div>
                    {{ form.note }}<br>
                    <span class="small italic">Here you can explain additional details, e.g. calculations or
                        conditions under this footprint applies. This description will be visible.</span>
                </td>
            </tr>
            <tr>
                <td>Your name:</td>
                <td><div class="text-danger">{{ form.username.errors }}</div>
                    {{ form.username }} <span class="small italic">Can be listed next to the data you provided.</span>
                </td>
            </tr>
            <tr>
                <td>Your email:</td>
                <td><div class="text-danger">{{ form.email.errors }}</div>
                    {{ form.email }} <span class="small italic">Will never be listed.</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-primary px-5" value="{% translate 'OK' %}"></td>
            </tr>

        </table>
    </form>

{%endblock%}
