{% extends '_template.html' %}
{% load i18n %}

{%block title%}
Help
{%endblock%}

{%block body%}

 <h2 id="the-mission-data">The mission: data</h2>

<p>GreenOrDie.org focus on providing best possible carbon footprint data.
This thing alone can reduce the average CO<sup>2</sup> emissions.
We believe that there is a lot of people who want to behave responsibly, track and reduce their footprint, little by little.</p>

<p>And GreenOrDie.org aims to be a trusted data source for such people.</p>


<h2 id="how-can-you-help">How can you help?</h2>

<p>GreenOrDie.org needs your help in three areas:</p>

<ul>
  <li>spreading the word (for everyone)</li>
    <li>providing more and better data (for everyone, especially data persons)</li>
    <li>making this website and related tools better (this is for IT gurus)</li>
</ul>


<h2 id="spread-the-word">Spread the word</h2>

<p>Are you a blogger, journalist? Give GreenOrDie.org a link. Every result has a permalink below, so you can easily
integrate them into your articles and posts: see, for example, how United States carbon dioxide emissions per capita
are more than <a href="https://greenordie.org/q/usa_vs_chad">100x higher</a> compared to typical Africa country.</p>

<p>Tweet about the results. Make a Facebook / Instagram / Reddit / Mastodon/ YouFavouriteSocialNetwork post about GreenOrDie.
Talk about carbon dioxide. Talk about GreenOrDie. Data are fun, make use of it ;-)</p>

<p>Be creative and do it now. We didn’t have too much time for change.</p>


<h2 id="providing-more-and-better-data">Providing more and better data</h2>

<p>Do you know some carbon footprint data for things or activities we do not list yet?
Look for this icon: {% include "gems/help.html" %}
</p>

<p>
Go back to <a href="/">homepage</a>, look around, search for some things you know and when such icon appears,
answer the simple questions.
Your contribution help GreenOrDie database grow. Thank you!
</p>


<h2 id="making-this-website-better">Making this website better</h2>

<p>If you know <code class="language-plaintext">git</code>,
    <code class="language-plaintext">python</code> and <code class="language-plaintext">django</code>,
    check out the repos and feel free to contribute. There is a lot of work to be done:</p>
<a href="/repos/data">Data and python tools - backend</a></p>



{%endblock%}
