{% extends '_template.html' %}
{% load i18n %}

{%block title%}
{{ q }}
{%endblock%}

{%block body%}


    <div class="small-2 text-right mt-0 pt-0 mr-0 pr-0">

      <p>Each person on this planet produces <a href="/q/world">13</a> kg CO<sub>2</sub> daily.<sup>*</sup><br>
Most western countries do more than 20 kg/person/day. <br>
Long-term survival limit is 3,5 kg.</p>

        <div class="small mt-0 pt-0 ml-5 text-dark">* in average, of course</div>

    </div>

    {% include 'gems/searchform.html' %}

    <div class="border-warning bg-light border rounded mt-3 small p-3">
        NEW: Calculate carbon emissions of your next journey and compare different types of transport:<br>
        Type <b>40 km</b> or <b>15 miles</b> in search box above
    </div>

    <div class="row mt-5 mb-4">

        <div class="col-6">
            <h3>Most popular queries:</h3>
            <div class="ml-2">
                {% for x in popular_queries %}
                    <div class="d-flex">
                        <a href="{% url 'search' search=x.slug %}">{{x.query}}</a>
                        {% if user.is_staff %}
                            <div class="d-flex bg-warning rounded px-1 small ml-2 mb-1">
                                {{x.frequency}} x
                                {% include "gems/delete_icon.html" with object=x action='statquery-delete' %}
                            </div>
                        {% endif %}
                    </div>

                {% endfor %}
            </div>
        </div>

        <div class="col-6">
            <h3>Most popular comparisons:</h3>
            <div class="ml-2">
                {% for x in popular_comparisons %}
                    <div class="d-flex">
                        <a href="{% url 'search' search=x.slug %}">{{x.query}}</a>
                        {% if user.is_staff %}
                            <div class="d-flex bg-warning rounded px-1 small ml-2 mb-1">
                                {{x.frequency}} x
                                {% include "gems/delete_icon.html" with object=x action='statcomparison-delete' %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <h2 class="">Categories</h2>

    <div class="d-flex flex-wrap mb-4">
        {% for tag in tags %}
            <a class="border rounded-pill px-3 py-1 mr-4 my-2" href="{% url 'tag' name=tag.name %}">{{ tag }}</a>
        {% endfor %}
    </div>

    <h2 class="text-center border rounded-pill border-success bg-lightgreen py-3">Volunteers area</h2>

    <div class="row mt-4 mb-4 small">

        <div class="col-4">
            <h4 class="">Add data</h4>
            <p class="small">
               {% include "gems/help.html" %}
               Carbon footprint data are missing for this. Do you know some?
            </p>
            <div class="ml-2">
                {% for entity in missing_footprint %}
                    <a href="{% url 'footprint-add' entity_pk=entity.pk %}">{{ entity }}</a></br>
                {% endfor %}
            </div>
        </div>

        <div class="col-4">
            <h4>Categorize</h4>
            <p class="small">
               {% include "gems/help.html" %}
               We need to find category for those things. Click on name and propose category:
            </p>
            <div class="ml-2">
                {% for x in missing_tags %}
                    <a href="{% url 'vote-tag' entity_pk=x.pk %}">{{x.name}}</a><br>
                {% endfor %}
            </div>
        </div>

        <div class="col-4">
            <h4>Sort data</h4>
            <p class="small">
               {% include "gems/help.html" %}
               People searched for that, but GreenOrDie needs to know more.
               Click on phrase below and answer a simple question regarding this.
            </p>
            <div class="ml-2">
                {% for x in missing_data %}
                    <a href="{% url 'search' search=x.slug %}">{{x.query}}</a><br>
                {% endfor %}
            </div>
        </div>

    </div>


{%endblock%}
