{% extends '_template.html' %}
{% load i18n %}

{%block title%}
Data project
{%endblock%}

{%block body%}

 <p>The core of GreenOrDie is data. Good data.</p>

<p>Now we have CO<sub>2</sub> footprint data for about 1.600 'entities'.</p>

<p>The target is to have such data for 10.000 most used products and/or activities. This will cover
more than 90% of average person’s carbon footprint, providing exact data for emission reduction.</p>

<p>Carbon footprint data are compiled from various sources and listed on this page. The aim is to
 let visitors interact with database and grow it via crowd contributions.</p>

<p>Sounds good? The stack is: python, django, docker, some lightweight JS frontend.<br>
 Still interested?
<a href="https://gitlab.com/jarmil/greenordie-data.git">This way, please.</a></p>

{%endblock%}
