{% extends '_template.html' %}
{% load i18n %}
{% load mytags %}

{%block title%}
{{ tag }} @ GreenOrDie.org
{%endblock%}

{%block body%}

    {% include 'gems/searchform.html' %}

    <h1 class="mt-3">Entities that are {{ tag }}:</h1>

    {% for r in object_list %}
        <a href="/q/{{ r }}">{{ r }}</a></br>
    {% endfor %}

    {% include "gems/pagination.html" %}

{%endblock%}
