{% extends '_template.html' %}
{% load i18n %}

{%block title%}
Thank you!
{%endblock%}

{%block body%}

<h2>Thank you!</h2>

<h5 class="mt-4">Thanks for helping GreenOrDie.org!</h5>

<p class="mt-3">
   You have just enhanced your life karma by at least 42 points.<br>
   Expect nice things to happen, including love, good coffee and happiness :-)
</p>

{%endblock%}
