{% extends '_template.html' %}
{% load i18n %}
{% load mytags %}

{%block title%}
{{ tag }} @ GreenOrDie.org
{%endblock%}

{%block body%}

    <h3 class="mt-3">{% include "gems/help.html" %} Missing categories</h3>

    <p>
       We need to find category for those things. Click on name and propose category.<br>
       (you can also refresh this page to display other items)
    </p>

    <div class="d-flex flex-wrap">
        {% for x in missing_tags %}
            <div class="mr-3 my-2 btn border">
                <a href="{% url 'vote-tag' entity_pk=x.pk %}">{{x.name}}</a>
            </div>
        {% endfor %}
    </div>

{%endblock%}
