{% extends '_template.html' %}
{% load i18n %}
{% load mytags %}

{%block title%}
{{ tag }} @ GreenOrDie.org
{%endblock%}

{%block body%}

    <h1 class="mt-3 mb-3">Propose category for '{{ entity }}':</h1>

    <p>
       {% include "gems/help.html" %}
       Simply click on category where {{ entity }} should belong to.<br>
       If no category matches well, click "Other"
    </p>

    {% for x in tags %}
        <form action="{% url 'vote-tag-do' %}" method="post">
          {% csrf_token %}
           <input type="hidden" name="entity_pk" value="{{ entity.pk }}"/>
           <input type="hidden" name="tag_pk" value="{{ x.pk }}"/>
           <button type="submit" class="btn btn-primary my-1 w-25">{{ x }}</button>
            <span class="small">
            {% if x.entities.count %}
                e.g:
                {% for e in x.entities.all|slice:"1:5" %}
                    {{ e }},
                {% endfor %}
                ...
            {% endif %}
            </span>
        </form>
    {% endfor %}


{%endblock%}
