{% extends '_template.html' %}
{% load i18n %}

{%block title%}
{% translate "Proposed aliases" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Proposed aliases" %}</h2>
    <p class="small">Here are user's votes for aliases.
        Decide if they will be listed as aliases or not
    </p>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">Alias</th>
                <th class="py-0">For entity</th>
                <th class="py-0">Action</th>
                <th class="py-0">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for x in objects %}
            <tr>
                <td class="py-0">{{x.name}}</td>
                <td class="py-0">{{x.entity}}</td>
                <td class="py-0">
                    <form action="{% url 'aliases-do' %}" method="post" onsubmit="return confirm('Are you sure?');">
                        {% csrf_token %}
                        <input type="hidden" name="name" value="{{ x.name }}"/>
                        <input type="hidden" name="entity" value="{{ x.entity.pk }}"/>
                        <button type="submit" name="answer", value="1" class="btn btn-success py-0 px-4">Yes</button>
                        <button type="submit" name="answer", value="0" class="btn btn-danger py-0 px-4">No</button>
                    </form>
                </td>
                <td class="py-0">{{x.t}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}
