{% extends '_template.html' %}
{% load i18n %}

{%block title%}
{% translate "Find alias for query" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Find alias for query" %} : {{ object }}</h2>

    <p class="small">Use the form below to find alias for '{{ object }}'<br>
        When found, click "Add Alias" button.
    </p>

    <form action="{% url 'sort-alias' pk=object.pk %}" method="post">
        {% csrf_token %}
        <div class="py-0 px-0 mb-4">
            <div class="d-flex flex-wrap mt-md-5 mt-3">
                <input type="text" name="search"  class="mr-1 mb-md-0 mb-2 pb-1">
                <button class="fa-solid fa-magnifying-glass btn-success rounded px-5 px-md-4 py-md-0 py-3"></button>
            </div>
        </div>
    </form>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">ID</th>
                <th class="py-0">Entity</th>
                <th class="py-0">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for x in objects %}
            <tr>
                <td class="py-0">{{ x.pk }}</td>
                <td class="py-0"><a href="/q/{{x.name}}">{{x.name}}</a></td>
                <td class="py-0">
                    <div class="d-flex">
                    <form action="{% url 'sort-alias-do' %}" method="post" onsubmit="return confirm('{% translate "Are you sure?" %}');">
                      {% csrf_token %}
                      <input type="hidden" name="entity_pk" value="{{ x.pk }}"/>
                      <input type="hidden" name="name" value="{{ object.query }}"/>
                      <input type="hidden" name="classified_query_pk" value="{{ object.pk }}"/>
                      <button type="submit" class="btn btn-success py-0">Add alias</button>
                    </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}
