{% extends '_template.html' %}
{% load mytags %}
{% load i18n %}

{%block title%}
{% translate "Unreviewed footprints" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Unreviewed footprints" %}</h2>

    <p class="small">Here you can see footprints added by users and not reviewed by admin.
        Approve or delete it.
    </p>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">Name</th>
                <th class="py-0">Footprints<br>for that entity</th>
                <th class="py-0">Amount</th>
                <th class="py-0">Source</th>
                <th class="py-0">Note</th>
                <th class="py-0">User</th>
                <th class="py-0">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for x in object_list %}
            <tr>
                <td class="py-0">{{x.entity.name}}</td>
                <td class="py-0">{{x.entity.footprints.count}}</td>
                <td class="py-0">{{x.min}} - {{x.max}} kg CO<sup>2</sup> per {{ x.per }}</td>
                <td class="py-0 small"><a href="{{ x.source }}">{{x.source}}</a></td>
                <td class="py-0 small">{{x.note}}</td>
                <td class="py-0 small">{{x.user | hide_none}}</td>
                <td class="py-0 d-flex">
                    <form action="{% url 'footprint-approve' %}" method="post" onsubmit="return confirm('Are you sure?');">
                      {% csrf_token %}
                      <input type="hidden" name="pk" value="{{ x.pk }}"/>
                      <button type="submit" class="fas fa-check-square btn text-success"></button>
                    </form>
                    <form action="{% url 'footprint-delete' pk=x.pk %}" method="post" onsubmit="return confirm('Are you sure?');">
                      {% csrf_token %}
                      <button type="submit" class="fas fa-trash btn text-danger"></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}
