{% extends '_template.html' %}
{% load mytags %}
{% load i18n %}

{%block title%}
{% translate "Last footprint votes" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Last footprint votes" %}</h2>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">Footprint ID</th>
                <th class="py-0">Entity name</th>
                <th class="py-0">Positive?</th>
                <th class="py-0">Date</th>
                <th class="py-0">IP</th>
            </tr>
        </thead>
        <tbody>
        {% for x in object_list %}
            <tr>
                <td class="py-0">{{x.footprint.pk}}</td>
                <td class="py-0">{{x.footprint.entity.name }}</td>
                <td class="py-0">{{x.positive}}</td>
                <td class="py-0">{{x.t}}</td>
                <td class="py-0">{{x.ip}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}
