{% extends '_template.html' %}
{% load i18n %}
{% load mytags %}

{%block title%}
{% translate "Entities without data" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Entities without data" %}</h2>
    <p class="small">Entities without footprint data. For now, just a list without actions.
    </p>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">ID</th>
                <th class="py-0">Entity</th>
                <th class="py-0">Description</th>
            </tr>
        </thead>
        <tbody>
        {% for x in objects %}
            <tr>
                <td class="py-0">{{x.pk}}</td>
                <td class="py-0">{{x.name}}</td>
                <td class="py-0">{{x.description | hide_none}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}
