{% extends '_template.html' %}
{% load i18n %}

{%block title%}
{% translate "Last searches" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Last searches" %}</h2>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">Query</th>
                <th class="py-0">Answered</th>
                <th class="py-0">Time</th>
            </tr>
        </thead>
        <tbody>
        {% for search in last %}
            <tr>
                <td class="py-0"><a href="/q/{{search.query}}">{{search.query}}</a></td>
                <td class="py-0">{{search.answered}}</td>
                <td class="py-0">{{search.t}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}
