{% extends '_template.html' %}
{% load i18n %}

{%block title%}
{% translate "Queries that should be sorted" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Queries that should be sorted" %} ({{ objects.count }} items)</h2>

    <p class="small">Here are unanswered queries that we do not know what to do with. Sort it according to these rules:<br>
        - If the question is already answered, delete it from here (temporary thing).<br>
        - If we already have the Entity in database under different name, add an alias.<br>
        - If we do not have such Entity, add an entity.<br>
        - If the query is spam or unanswerable (should never not be listed), use "Spam" button.<br>
    </p>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">Query</th>
                <th class="py-0">Action</th>
                <th class="py-0">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for x in objects %}
            <tr>
                <td class="py-0"><a href="/q/{{x.query}}">{{x.query}}</a></td>
                <td class="py-0">
                    <div class="d-flex">
                        <form action="{% url 'sort-add' pk=x.pk %}" method="post" onsubmit="return confirm('{% translate "Are you sure?" %}');">
                          {% csrf_token %}
                          <button type="submit" class="fas fa-plus-square btn text-success" title="Add this as a new entity (without data for now)"></button>
                        </form>
                        <a href="{% url 'sort-alias' pk=x.pk %}" class="fas fa-copy text-primary pt-1" title="Find alias"></a>
                        <form action="{% url 'sort-delete' pk=x.pk %}" method="post" onsubmit="return confirm('{% translate "Are you sure?" %}');">
                          {% csrf_token %}
                          <button type="submit" class="fas fa-trash btn text-danger" title="Delete from this list (mistake or is already anwered)"></button>
                        </form>
                        <form action="{% url 'sort-spam' pk=x.pk %}" method="post" onsubmit="return confirm('{% translate "Are you sure?" %}');">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger p-0 small" title="Mark as spam or something that should not be answered">spam</button>
                        </form>
                    </div>
                </td>
                <td class="py-0">{{x.t}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}
