{% extends '_template.html' %}
{% load i18n %}

{%block title%}
{% translate "Tag detail" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Tag detail" %}</h2>

    <form enctype="multipart/form-data" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary px-5" value="{% translate 'OK' %}">
    </form>

{%endblock%}
