{% extends '_template.html' %}
{% load i18n %}

{%block title%}
{% translate "Votes for Entities that should be in " %}{{ tag }}
{%endblock%}

{%block body%}

    <h2>{% translate "Votes for Entities that should be in " %}'{{ tag }}' category</h2>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">Actions</th>
                <th class="py-0">Entity</th>
                <th class="py-0">IP</th>
                <th class="py-0">Date</th>
            </tr>
        </thead>
        <tbody>
        {% for x in votes %}
            <tr>
                <td class="py-0 d-flex">
                    <form action="{% url 'tag-vote-delete' pk=x.pk %}" method="post" onsubmit="return confirm('Are you sure?');">
                      {% csrf_token %}
                      <button type="submit" class="fas fa-trash btn text-danger"></button>
                    </form>
                    <form action="{% url 'tag-vote-assign' %}" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="pk" value="{{ x.pk }}"/>
                      <input type="hidden" name="tag" value="{{ tag.pk }}"/>
                      <button type="submit" class="btn btn-primary py-0">Assign</button>
                    </form>
                </td>
                <td class="py-0">{{x.entity}}</td>
                <td class="py-0">{{x.ip}}</td>
                <td class="py-0">{{x.t}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}
