{% extends '_template.html' %}
{% load i18n %}

{%block title%}
{% translate "Tags" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Tags" %}</h2>

    <p class="small">Here you can edit tags, and also assign entities to tags based on votes
        (for this, click on 'show' icon next in 'Votes' column and than assign tags based on votes).
    </p>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">Name</th>
                <th class="py-0">Entities</th>
                <th class="py-0 text-center" colspan=2>Votes</th>
                <th class="py-0">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for x in object_list %}
            <tr>
                <td class="py-0">{{x.name}}</td>
                <td class="py-0">{{x.entities.count}}</td>
                <td class="py-0 text-right">
                    {{x.votes.count}}
                </td>
                <td class="py-0">
                    {% if x.votes.count %}
                        <a href="{% url 'tag-votes' tag_pk=x.pk %}" class="btn btn-primary small py-0 px-1 ml-3">show</a>
                    {% endif %}
                </td>
                <td class="py-0">
                    <form action="{% url 'tag-delete' pk=x.pk %}" method="post" onsubmit="return confirm('Are you sure?');">
                      {% csrf_token %}
                      <button type="submit" class="fas fa-trash btn text-danger"></button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{% url 'tag-add' %}">Add tag</a>

{%endblock%}
