{% extends '_template.html' %}
{% load i18n %}

{%block title%}
{% translate "Users" %}
{%endblock%}

{%block body%}

    <h2>{% translate "Users" %}</h2>

    <table class="table table-striped small">
        <thead>
            <tr>
                <th class="py-0">User name</th>
                <th class="py-0">Email</th>
                <th class="py-0">Last name</th>
                <th class="py-0">Joined</th>
                <th class="py-0">Footprints</th>
            </tr>
        </thead>
        <tbody>
        {% for x in object_list %}
            <tr>
                <td class="py-0">{{x.username}}</td>
                <td class="py-0">{{x.email}}</td>
                <td class="py-0">{{x.last_name}}</td>
                <td class="py-0">{{x.date_joined}}</td>
                <td class="py-0">{{x.footprints.count}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{%endblock%}
